*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    align-items: center;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background:linear-gradient(to bottom, #68EACC 0%, #497BE8);
    margin-top: 50px;
    height: 100vh;
    width: 100%;
    
}
h1{
    color: whitesmoke;
    
    width: 100%;

}
.input{
    width: 80%;
    height: 50px;
    margin: 5px;
    padding: 0px;
    border: none;
    border-radius: 10px;
    background-color: white;
    font-size: 18px;
}

.boton-agregar{
    width: 50px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 6, 46);
    color: white;
    cursor: pointer;
}
.boton-agregar:hover{
    opacity: 0.9;
    border: 2px solid white; 
}
.box1{
    background-color: rgb(17, 16, 16);
    padding: 50px;
    width: 45%;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;   
}
.container{
    width: 100%;
}